
<div class="page-faq">
  <div class="container">
    <div class="search-faq mb-5">
      <form>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="form-group">
              <button type="button" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.006" height="20.006" viewBox="0 0 20.006 20.006">
                  <g transform="translate(-2 -2)">
                    <path style="fill: #1a1c52;"
                      d="M21.71,20.29l-5.4-5.39A7.92,7.92,0,0,0,18,10a8,8,0,1,0-8,8,7.92,7.92,0,0,0,4.9-1.69l5.39,5.4a1,1,0,1,0,1.42-1.42ZM4,10a6,6,0,1,1,6,6,6,6,0,0,1-6-6Z" />
                  </g>
                </svg>
              </button>
              <input type="text" name="" placeholder="Search on your question here …" class="form-control" />
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <app-faq-item itemId="id1" title="How can i get help by rogan?" text="Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
      activates the relevant trigger."></app-faq-item>
      </div>
      <div class="col-lg-6 col-md-6">
        <app-faq-item itemId="id2" title="How can i get help by rogan?" text="Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
      activates the relevant trigger."></app-faq-item>
      </div>
      <div class="col-lg-6 col-md-6">
        <app-faq-item itemId="id3" title="How can i get help by rogan?" text="Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
      activates the relevant trigger."></app-faq-item>
      </div>
    </div>

    <div class="form-dont-find">
      <app-page-title header="Did’nt Find Answer, Submit Your Question." paragraph=""></app-page-title>

      <form>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label form="username">User Name *</label>
              <input type="" id="username" name="" placeholder="Enter your user name" class="form-control" />
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label form="E-mail">E-mail address *</label>
              <input type="" id="E-mail" name="" placeholder="Enter your e-mail address" class="form-control" />
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label form="Subject">Subject*</label>
              <input type="" id="Subject" name="" placeholder="Enter your Subject" class="form-control" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label form="Question">Your Question*</label>
              <textarea type="" id="Question" name="" placeholder="Enter your Question here…" class="form-control" rows="6"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <div class="form-group">
                  <button type="submit" name="" class="btn btn-dinex btn-block">
                    Submit Questions
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
