<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <a href="">
            <img src="assets/footer-logo.svg" alt="" class="img-fluid" />
          </a>
          <div class="text">
            View the best daily specials are
            without having to ask the server
            to repeat it .
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <p>Company</p>
              <ul class="nav">
                <li class="nav-item"><a href="" class="nav-link">About</a></li>
                <li class="nav-item"><a href="" class="nav-link">packages</a></li>
                <li class="nav-item"><a href="" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="" class="nav-link">Solutions</a></li>
                <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4">
              <p>Support</p>
              <ul class="nav">
                <li class="nav-item"><a href="" class="nav-link">Technical support</a></li>
                <li class="nav-item"><a href="" class="nav-link">Maintenance</a></li>
                <li class="nav-item"><a href="" class="nav-link">consultation</a></li>
                <li class="nav-item"><a href="" class="nav-link">FAQs</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4">
              <p>Legal</p>
              <ul class="nav">
                <li class="nav-item"><a href="" class="nav-link">Privacy</a></li>
                <li class="nav-item"><a href="" class="nav-link">Terms</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <form class="newsletter">
          <h4>Subcribe to our newsletter</h4>
          <p>Always be aware of all new Din ex</p>
          <div class="form-group d-flex">
            <input type="email" name="" placeholder="Your email address…" class="form-control" />
            <button type="submit" name="" class="btn btn-dinex">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="copyrights">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <p>© <span>Din Ex</span> - 2021. All rights Reserved</p>
        </div>
        <div class="col-lg-6">
          <ul class="nav social-footer">
            <li class="nav-item"><a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
            <li class="nav-item"><a href=""><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
            <li class="nav-item"><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li class="nav-item"><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li class="nav-item"><a href=""><fa-icon [icon]="faYoutube"></fa-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
