.faq-item {
  margin-bottom: 25px;
  a {
    text-decoration: none !important;
    display: block;
    svg {
      margin-right: 15px;
    }
    span {
      color: #313131;
      font-size: 16px;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .text {
    margin-top: 20px;
  }
}
